<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz wyszukiwania cen e-booków</title>
</head>
<body>
    <h1>Formularz wyszukiwania cen e-booków</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="post" action="/">
        <label for="entries">Wprowadź autora i tytułu (oddzielone przecinkami):</label>
        <br>
        <textarea id="entries" name="entries" rows="5" cols="50" required></textarea>
        <br>
        <br>
        <button type="submit">Search</button>
    </form>
</body>
</html>
